<!-- <div class="row">
  <div class="small-8 columns readings-list">
    <ul>
      <%= render(partial: 'reading', collection: @readings) %>
      <li><%= link_to "Add New Reading", new_reading_path, class: "button " %></li>
    </ul>
  </div>
</div>
 -->

 <div id="main-content">
 
 </div>


 <script type="text/javascript">
  window._input_app = new App.InputRouter()
</script>