<div class="jumbotron">
	<div class="container">
		<h1>Welcome to a basic App</h1>
		<h3> To get started please enter your most recent sugar reading level in the form below</h3>
		<div class="row">
			<div class= 'small-4 columns form'>
        <%= render(partial: 'form', object:@button) %>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="small-8 columns">
      <h3>Your 5 Most Recent Readings</h3>
       <%= render(partial: 'reading', collection: @recent_readings) %>
    </div>
  </div>
</div>


